/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  ;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header{
  text-align: center;
}
.flex-item-heading {
 padding-right: inherit;
 padding-left:2.2%;
}
/*Centers Nav bar*/
nav {
  text-align: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

.flex-item {
  align-self: center;
  flex: inherit;
}
/*Flex-Container for "About Section" and "Heading" */

.flex-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
/*Centers About Section*/

.flex-item-about {
  text-align: left;
  justify-content: left;
}
/*Portfolio center*/
.flex-item-portfolio {
  justify-content: center;
  flex: 1;
  margin: 5px;
  align-items: flex-start;
}
article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5
  
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-right: 40px;
 
  
}
.p portfolio {
  font-size: 14px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

p,
ul {
  text-align: left;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
